.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding-10 {
  padding: 10px;
}
.padding-l-10 {
  padding-left: 10px;
}
.padding-r-10 {
  padding-right: 10px;
}
.padding-t-10 {
  padding-top: 10px;
}
.padding-b-10 {
  padding-bottom: 10px;
}

.margin-10 {
  margin: 10px;
}
.margin-l-10 {
  margin-left: 10px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-b-10 {
  margin-bottom: 10px;
}

@tm-border: 1px solid @border-color-base;
.border-top {
  border-top: @tm-border;
}

.border-bottom {
  border-bottom: @tm-border;
}
.border-left {
  border-left: @tm-border;
}
.border-right {
  border-right: @tm-border;
}

.border-horizon {
  border-left: @tm-border;
  border-right: @tm-border;
}

.border-all {
  border: @tm-border;
}
//layout embed边框
@layout-embed-border:10px solid @layout-body-background;
.border-t-embed {
  border-top: @layout-embed-border;
}
.border-b-embed {
  border-bottom: @layout-embed-border;
}
.border-r-embed {
  border-right: @layout-embed-border;
}
.border-l-embed {
  border-left: @layout-embed-border;
}
.primary-bg{
  background:@primary-color
}
